node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

git-filter-repo

**/ranking_*
# !/json/**/ranking_*

/scripts/extract*

# Ignore game files except for UI
/game/*/**
!/game/client/Assets
!/game/client/Assets/back_icon**
!/game/client/Assets/blue_crystal**
!/game/client/Assets/c_equip**
!/game/client/Assets/ch_wp**
!/game/client/Assets/clothes_icon**
!/game/client/Assets/ears_icon**
!/game/client/Assets/facewear_icon**
!/game/client/Assets/gloves_icon**
!/game/client/Assets/green_crystal**
!/game/client/Assets/head_photo**
!/game/client/Assets/headwear_icon**
!/game/client/Assets/home_banshou**
!/game/client/Assets/home_certificat**
!/game/client/Assets/home_furniture**
!/game/client/Assets/home_ground**
!/game/client/Assets/home_homeinteraction**
!/game/client/Assets/home_interaction**
!/game/client/Assets/home_interio**
!/game/client/Assets/home_interior**
!/game/client/Assets/home_item**
!/game/client/Assets/home_movebox**
!/game/client/Assets/home_outside**
!/game/client/Assets/home_planting**
!/game/client/Assets/home_wall**
!/game/client/Assets/idcard_info**
!/game/client/Assets/idcard_virtual**
!/game/client/Assets/item_equipment**
!/game/client/Assets/item_equipsuit**
!/game/client/Assets/item_icon**
!/game/client/Assets/item_icons**
!/game/client/Assets/item_mod**
!/game/client/Assets/item_season**
!/game/client/Assets/item_task**
!/game/client/Assets/item_union**
!/game/client/Assets/iterm_task**
!/game/client/Assets/mod_item**
!/game/client/Assets/monthly_reward**
!/game/client/Assets/mouthwear_icon**
!/game/client/Assets/neck_icon**
!/game/client/Assets/pants_icon**
!/game/client/Assets/personalzone_head**
!/game/client/Assets/personalzone_medal**
!/game/client/Assets/red_crystal**
!/game/client/Assets/ring_icon**
!/game/client/Assets/shoes_icon**
!/game/client/Assets/skill_aoyi**
!/game/client/Assets/suit_icon**
!/game/client/Assets/tail_icon**
!/game/client/Assets/term_task**
!/game/client/Assets/ui
!/game/client/Assets/ui/atlas
!/game/client/Assets/ui/atlas/personalzone_medal**
!/game/client/Assets/ui/atlas/weap_icon**
!/game/client/Assets/yellow_crystal**